h1 {
  text-align: center;
  padding-bottom: 35px;
  padding-top: 35px;
}

ul {
  margin: 0 auto;
}

li {
  margin-left: -37px;
}

a {
  margin-top: 25px;
  text-align: center;
}

.btn {
  margin-left: -33px;
}
