body {
  background: #262d31 !important;
}

.list-group-item {
  background: #262d31 !important;
  color: #fff;
  border: 1px solid #3d3d3d !important;
}

h1 {
  text-align: center;
  padding-bottom: 35px;
  padding-top: 35px;
  color: #fff;
}

ul {
  margin: 0 auto;
}

li {
  margin-left: -37px;
}

a {
  margin-top: 25px;
  text-align: center;
  color: #fff !important;
}

.btn {
  margin-left: -33px;
  width: 193px;
}
