h1 {
  text-align: center;
  padding-bottom: 35px;
  padding-top: 35px;
}

.btn-danger {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 25px;
  margin-top: -37px;
}

.formulario {
  margin: 0 auto;
}
