{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestão | Doação de Sangue</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/doador.css' %}"
    />
  </head>
  <body>
    <header>
      <h1>Lista de Doadores</h1>
    </header>
    <ul>
      {% for doador in doador %}
      <a href="{% url 'update_doador' doador.id %}">
        <li>{{ doador.nome }}</li>
        <li>{{ doador.RG }}</li>
      </a>
      {% endfor %}
    </ul>
    <button class="button button4">
      <a href="{% url 'create_doador' %}">Cadastrar Novo Doador</a>
    </button>
  </body>
</html>
